<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>undersatnding angular</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="lib/angular.min.js"></script>
</head>

<body ng-app="twitterApp">
<div ng-controller="myCtrl">
    <br>
    <form class="form-horizontal" ng-controller="myCtrl">
        <div class="form-group">
            <label for="name" class="control-label col-xs-2">first name</label>
            <div class="col-xs-10">
                <input type="name" class="form-control" id="name" placeholder="firstname"
                       ng-model="register.firstname">
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="control-label col-xs-2">last name</label>
            <div class="col-xs-10">
                <input type="lastname" class="form-control" id="name" placeholder="lastname"
                       ng-model = "register.lastname">
            </div>
        </div>


        <div class="form-group">
            <label for="dd1country" class="control-label col-xs-2">country</label>
            <div class="col-xs-offset-2 col-xs-6">
                <div class="col-xs-6">
                <select class="form-control" id="dd1country"
                ng-model="selectedLocation"
                ng-options="location.city group by location.state  for location in locations"
                    ng-change="dropdownChange">
                    </select>
            </div>
        </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button class="btn btn-primary"
                        ng-click="registerUser()">register</button>
            </div>
        </div>
        <table  class="table" ng-controller="userctrl">
        <thead>
        <tr>
            <th>Row</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>location</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in users">
            <td>{{$index+1}}</td>
            <td>{{item.firstname}}</td>
            <td>{{item.lastname}}</td>
            <td>{{item.location}}</td>
        </tr>

          </tbody>
            </table>

</form>
<script src="app/app.js"></script>
<script src="cntrl/cntrl.js"></script>
    <script src="cntrl/userctrl.js"></script>
</body>
</html>